body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    background-color: rgb(201 224 255 / 13%);
    border:1px solid rgb(7, 255, 243);

}

#jbb {
    align-self: center;
    width: 20rem;
}

#jbb > img {
    cursor: pointer;
    width: 20rem;
    margin-top: 10px;
    margin-bottom: 0px;
}
.content {
    margin: 10px;
    border:1px solid rgb(0, 0, 0);
}

#about {
    height: 100%;
    border:1px solid red;
    background-image: url(../img/test.jpg);
}
#person {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(161, 221, 101);
    height: 100%;
}
#person .profile {
    flex: 0 1 auto;
    align-self: center;
    width: 6rem;
    height: 10rem;
    border:1px solid rgb(57, 73, 219);
}
.arrow {
    flex:0 0 auto;
    margin-left: 1rem;
    align-self: center;
    width: 0;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #c2e1f5; 
}

.dialog {
    flex:0 1 auto;
    align-self: center;
	background: #c2e1f5;
	border: 4px solid #c2e1f5;
    border-radius: 5px;
    padding: 8px 1rem 8px 8px;
    width: 18rem;
    height: 20rem;
    overflow-y: scroll;
}


#interests {

}
.card {
    display: flex;
    justify-content: space-around;
    background-color: rgb(239, 248, 253);
    width: 40rem;
    height: 20rem;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5rem;
}
.card > face {
    position: relative;
    top: 3rem;
    flex:0 0 auto;
    width: 11rem;
    height: 11rem;
    border: 2px solid black;
}
.card > face > img {
    width: 100%;
    height: 100%;
}
.card > .detail {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}
.detail > p {
    font-size: 2rem;
    font-weight: bold;
}
.detail span {
    font-size: 20px;
}

body div {
    flex:1 0 900px;
}

.menu {
    display: flex;
    list-style: none;
    flex: 1 1 80%;
    gap: 3rem;
    justify-content: center;
}

.line {
    align-self: center;
    width: 50rem;
    border-top: 2px solid rgb(130, 171, 132);
    margin: -10px 10% 10px 10%;
}
.menu li {
    cursor: pointer;
    margin-bottom: 10px;
}
.menu li:hover {
    font-weight: bold;
    color: blueviolet;
}

footer {
    margin-bottom: 0px;
    background-color: rgba(251, 255, 209, 0.276);
    text-align: center;
}
