body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color:#8c9197;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    font-size: 18px;
    color: #e5e7eB;
    gap: 30px;
    list-style-type: none;
}
.header-container {
    background-color: #1f2937;
    color: white;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.intro {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    padding: 60px 10%;
}
h2 {
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
}
.button-blue {
    background-color: #3882f6;
    transition-duration: 0.25s;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    width: 90px;
    padding: 5px 8px;
}
.button-blue:hover {
    background-color: #2365d1;
}

.pingu {
    margin: 10px;
    width: 300px;
}

h3 {
    align-self: center;
    font-weight: 900;
    margin: 30px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
    padding: 0 10%;
}
.substance {
    text-align: center;
    width: 140px;
    font-size: 15px;
}
.substance p {
    margin: 0px;
}
.card {
    flex-shrink: 0;
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    background-color: #e5e7eB;
    font-size: 36px;
    padding: 0 20%;
}
.by {
    font-size: 26px;
    font-style: normal;
    font-weight: bold;
    text-align: end;
    margin-top: 0px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 600px;
    background-color: #3882f6;
    color: white;
    border:none;
    border-radius: 5px;
    padding: 0px 5%;
}
.action {
    padding: 20px;
}
.action h3,
.action p {
    margin: 0px;
}
.action p {
    font-size: 10px;
}

.button-trans {
    align-self: center;
    background-color: transparent;
    transition-duration: 0.25s;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    padding: 5px 8px;
}
.button-trans:hover {
    background-color: white;
    border: 1px solid #1f2937;
    color:#3882f6;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: white;
    background-color: #1f2937;
}